<footer class="bg-natural-95 border-top">
  <div class="container-md">
    <div
      class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-center py-6 py-md-12 row-gap-2"
    >
      <ul class="nav justify-content-center row-gap-2 fs-8 fs-md-7">
        <li class="nav-item">
          <a class="nav-link nav-foot-fill" href="service_plan.html"
            >服務方案</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-foot-fill" href="about_us.html">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-foot-fill" href="contact.html">聯絡我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-foot-fill" href="privacy_policy.html"
            >隱私權政策</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-foot-fill" href="user_agreement.html"
            >用戶條款</a
          >
        </li>
      </ul>
      <p class="fs-8 text-natural-50 text-center">
        Copyright © 2025 職旅 workway. All rights reserved.
      </p>
    </div>
  </div>
</footer>
